<div style="background-color: #C5DBF2;height: 400px;">
    
</div>
<div class="container" style="width: 60%;">
    <div class="row">
        <img style="object-fit: cover; height: 400px;margin-top: -200px;" src="https://images.unsplash.com/photo-1531545514256-b1400bc00f31?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=1674&q=80">
    </div>
    <div class="row">
        <p class="test-data">Cart is an all-in-one Marketing Platform for small business. We empower millions of customers around the world to start and grow their businesses with our smart marketing technology, award-winning support, and inspiring content. Founded in 2001 and headquartered in Atlanta with additional offices in Brooklyn, Oakland, and Vancouver, Cart is 100% founder-owned and highly profitable.

            Founder story
            About 20 years ago, Ben Chestnut and Dan Kurzius started a web design agency called the Rocket Science Group. Their focus was on big, corporate clients, but on the side, they created a delightful email marketing service for small businesses.
            
            Cart was designed as an alternative to the oversized, expensive email software of the early 2000s. It gave small business owners who lacked the high-end tools and resources of their larger competitors access to technology that empowered them and helped them grow.</p>
    </div>
    <div class="row" style="text-align: end;">
        <h1>Thanks!</h1>
        <h4>Raja Kumar</h4>
        <!-- <h3>CEO and Founder CART</h3> -->
    </div>
</div>