.banner1{
    height: 500px;
    object-fit: cover;
    width: 100%;
}
.prod_image{
    height: 400px;
    width: 600px;
        object-fit: contain;
}

.button-buy{
    padding: 20px;
        width: 200px;
        border-radius: 50px;
        text-shadow: 30px;
        background-color: linear-gradient(black,white);
        background-color: #54ba23;
        border-color: #e1e4e7;
}