<div style="background-color: #1C2963;height: 400px;">
    
</div>
<div class="container" style="width: 60%;">
    <div class="row">
        <img style="object-fit: cover; height: 400px;margin-top: -200px;" src="https://images.unsplash.com/photo-1528747045269-390fe33c19f2?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=1770&q=80">
    </div>
    <div class="row" style="margin-top: 50px;">
      <div class="col-sm text-center">
        
      </div>
  </div>
  <div class="row" style="margin-top: 10px;">
      <div class="col-md-6" style="">
          <form style="margin-top: 90px;">
            <div class="form-group" style="padding: 10px;">
                <input type="name" class="form-control" id="exampleInputName" placeholder="Your Full Name...">
            </div>
  <div class="form-group" style="padding: 10px;">
                <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Your Email Address...">
            </div>
            
  <div class="form-group" style="padding: 10px;">
    <textarea class="form-control" aria-label="With textarea"></textarea>
  </div>
            <button type="submit" class="btn btn-warning btn-lg btn-block" style="align-self: center; margin-left: 10px;">Submit</button>
          </form>
    </div>
    <div  class="col-md-6">
<h5>Address: <small class="text-muted">Venkatadri IT Park, HP Avenue, Konnappana, Electronic city, Bengaluru, Karnataka 560069</small></h5>
<h5>Email: <small class="text-muted">hire@luxurytaxicab.com</small></h5>
<h5>Contact: <small class="text-muted">+91 98765 10278 || +91 76589 14244</small></h5>
<!-- <p><iframe width="600" height="450" frameborder="0" style="border:0"
src="https://www.google.com/maps/embed/v1/place?q=place_id:ChIJtcNatvRsrjsRA38LEBPt_78&key=..." allowfullscreen></iframe></p> -->
<div class="text-center" style="">
  <img class="img-fluid contact-image" style="height: 300px;width: 400px;" alt="Responsive image" src="https://csds.qld.edu.au/sdc/resources/images/find-us-map.jpg" class="rounded" alt="...">
</div>
    </div>

  </div>
</div>
