.shoping-image-border{
    border-radius: 15px;
}
.Card-custom{
    border: 0rem;
    align-items: center;
    text-align: center;
}
.shoping-card{
    /* border-top: hidden;
    border-left: hidden;
    border-bottom: hidden; */
    /* border: 3rem; */
    margin-top: 30px;
}
.checked{
    color: green;
}
.card-image{
    /* border-radius: 10rem;
     */
     border-radius: 10rem;
     width: 10rem;
     height: 10rem;
}
.pos{position: -webkit-sticky;
position: sticky;
top: 20px;}

.head{
    padding: 20px;
    justify-content: center;
    display: flex;
}
.inp{
    width: 250px;
    height: 30px;
    border-radius: 5px;
    padding: 20px;
}
.banner{
    height: 300px;
    object-fit: cover;
    width: 100%;
}
.card-image-header{
    height: 220px;
    object-fit: contain;
    transition: transform .2s;
}

.card-image-header:hover {
    -ms-transform: scale(1.1); /* IE 9 */
    -webkit-transform: scale(1.1); /* Safari 3-8 */
    transform: scale(1.1); 
  }


  body {
    align-items: center;
    background-color: #cddc39;
    color: #827717;
    display: flex;
    font-family: "Roboto", sans-serif;
    font-size: 32px;
    line-height: 1.5em;
    height: 100vh;
    margin: 0;
    justify-content: center;
  }
  .custom_radio {
    
  }
  .custom_radio input[type="radio"] {
    display: none;
  }
  .custom_radio input[type="radio"] + label {
    position: relative;
    display: inline-block;
    padding-left: 1.5em;
    margin-right: 2em;
    cursor: pointer;
    line-height: 1em;
    -webkit-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
  }
  .custom_radio input[type="radio"] + label:before,
  .custom_radio input[type="radio"] + label:after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 1em;
    height: 1em;
    text-align: center;
    color: white;
    font-family: Times;
    border-radius: 50%;
    -webkit-transition: all 0.3s ease;
    transition: all 0.3s ease;
  }
  .custom_radio input[type="radio"] + label:before {
    -webkit-transition: all 0.3s ease;
    transition: all 0.3s ease;
    box-shadow: inset 0 0 0 0.2em white, inset 0 0 0 1em white;
  }
  .custom_radio input[type="radio"] + label:hover:before {
    -webkit-transition: all 0.3s ease;
    transition: all 0.3s ease;
    box-shadow: inset 0 0 0 0.3em white, inset 0 0 0 1em #c6c6c6;
  }
  .custom_radio input[type="radio"]:checked + label:before {
    -webkit-transition: all 0.3s ease;
    transition: all 0.3s ease;
    box-shadow: inset 0 0 0 0.2em white, inset 0 0 0 1em #4caf50;
  }
  