<form style="border-radius: 20px" [formGroup]="ForgetPasswordForm" (ngSubmit)="check_forgetpassowrd()"
    *ngIf="ForgetPassword_page">
    <h2>Forget Password</h2>
    <p class="lead" *ngIf="CredentialNotMatch">Not Correct Credentiala</p>
    <div class="form-group">
        <div class="input-group">
            <span class="input-group-addon">
                <i class="fa fa-lock"></i>
                <i class="fa fa-check"></i>
            </span>
            <input type="text" [ngClass]="{ 'is-invalid': forget_submitted && g.email.errors }" class="form-control"
                formControlName="email" name="email" placeholder="Email" required="required">
            <div *ngIf="forget_submitted && g.email.errors" class="invalid-feedback">
                <div *ngIf="g.email.errors.required">Email is required</div>
                <div *ngIf="g.email.errors.pattern">Email type data</div>
            </div>
        </div>
    </div>
    <div class="form-group">
        <div class="input-group">
            <span class="input-group-addon">
                <i class="fa fa-lock"></i>
                <i class="fa fa-check"></i>
            </span>
            <input type="date" [ngClass]="{ 'is-invalid': forget_submitted && g.DOB.errors }" class="form-control"
                formControlName="DOB" name="Date Of Birth" placeholder="Date Of Birth" required="required">
            <div *ngIf="forget_submitted && g.DOB.errors" class="invalid-feedback">
                <div *ngIf="g.DOB.errors.required">Date Of Birth is required</div>
            </div>
        </div>
    </div>
    <div class="form-floating form-group">
        <select class="form-select" [ngClass]="{ 'is-invalid': forget_submitted && g.question.errors }"
            style="border: 0px;" formControlName="question" id="floatingSelect"
            aria-label="Floating label select example">
            <option selected>Please choose a Security Questions</option>
            <option *ngFor="let que of SecurityQuestion" value="{{que}}">{{que}}</option>

        </select>
        <div *ngIf="forget_submitted && g.question.errors" class="invalid-feedback">
            <div *ngIf="g.question.errors.required">Please Choose Security Question</div>
        </div>
        <label for="floatingSelect">Add Security Question.</label>
    </div>
    <div class="form-group">
        <div class="input-group">
            <span class="input-group-addon">
                <i class="fa fa-lock"></i>
                <i class="fa fa-check"></i>
            </span>
            <input type="text" class="form-control" [ngClass]="{ 'is-invalid': forget_submitted && g.answer.errors }"
                formControlName="answer" name="answer" placeholder="Answer" required="required">
            <div *ngIf="forget_submitted && g.answer.errors" class="invalid-feedback">
                <div *ngIf="g.answer.errors.required">Answer is required</div>
            </div>
        </div>
    </div>
    <div class="form-group">
        <button type="submit" class="btn btn-primary btn-block btn-lg">Submit</button>
    </div>



    <p class="small text-center">Login and Explorer World!</p>
</form>




<form *ngIf="Verification_done" style="border-radius: 20px" [formGroup]="new_password_form"
    (ngSubmit)="New_Password_Submit()">
    <h2>Entre New Password Password</h2>

    <div class="form-group">
        <div class="input-group">
            <span class="input-group-addon">
                <i class="fa fa-lock"></i>
                <i class="fa fa-check"></i>
            </span>
            <input type="text" [ngClass]="{ 'is-invalid': forget_submitted && f.password.errors }" class="form-control"
                formControlName="password" name="password" placeholder="password" required="required">
            <div *ngIf="forget_submitted && f.password.errors" class="invalid-feedback">
                <div *ngIf="f.password.errors.required">Password is required</div>

            </div>
        </div>
    </div>
    <div class="form-group">
        <button type="submit" class="btn btn-primary btn-block btn-lg">Submit</button>
    </div>
</form>